Button {
    display: inline-block;
}
span.btn {
    font-size: 25px;
    color: #f7f7f7;
}

.home-screen {
    height: 100%;
    width: 100%;
}

.ver-1-btn {
    position: relative;
    top: 375px;
    margin: 5px 10px;
}

.ver-2-btn {
    position: relative;
    top: 375px;
    margin: 5px 10px;
}



