.button {
  margin: 7.5px;
}

h1 {
  font-size: 25pt;
  margin-top: 0;
  padding: 15px;
}

.info {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul {
    display: inline-block;
    text-align: left;
}

.version-one {
  background-color: azure;
  border-radius: 10%;
  font-family: Georgia;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  width: 400px;
  height: 600px;
}